<footer id="colophon" class="site-footer footer bg-dark" role="contentinfo">
	<div class="container footer-inner">
		<div class="row">
			
		</div>

		<div class="row">
			<div class="site-info col-sm-6">
				<div class="copyright-text">
					<br>
				</div>

				<div class="footer-credits">
					<!-- 절대로, 지우지말것. -->
					<!-- 절대로, 지우지말것. -->
					<!-- 절대로, 지우지말것. -->
					<!-- 절대로, 지우지말것. -->
					<!-- 절대로, 지우지말것. -->
					<!-- 절대로, 지우지말것. -->
					<br />
					개발자 연락처 : <a href="mailto: shellcodesniper@gmail.com">shellcodesniper@gmail.com</a><br />
					Coded By. KUUWANGE [ shellcodesniper ] <br />
					개발을 함께했던, WACOM [San_ha] | KUUWANGE [shellcodesniper] | M2 [마나] < Playrust.co.kr >
					<!-- 절대로, 지우지말것. -->
					<!-- 절대로, 지우지말것. -->
					<!-- 절대로, 지우지말것. -->
					<!-- 절대로, 지우지말것. -->
					<!-- 절대로, 지우지말것. -->
				</div>
			</div><!-- .site-info -->
			<div class="col-sm-6 text-right">
							</div>
		</div>
	</div>

	<a class="btn btn-sm fade-half back-to-top inner-link" style="background: none" href="#top"><i class="fas fa-angle-up"></i></a>
</footer>